@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 93.33%;
  --foreground: 217.44 100% 26.08%;
  --card: 0 10.3% 82.9%;
  --card-foreground: 0 11.3% 19%;
  --popover: 222 47% 11%;
  --popover-foreground: 210 40% 98%;
  --primary: 199 89% 48%;
  --primary-foreground: 222 47% 11%;
  --secondary: 217 33% 17%;
  --secondary-foreground: 210 40% 98%;
  --muted: 215 32% 17%;
  --muted-foreground: 217.44 100% 26.08%;
  --accent: 212 40% 20%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 62% 54%;
  --destructive-foreground: 210 40% 98%;
  --border: 0 0% 75.7%;
  --input: 0 0% 75.7%;
  --ring: 199 89% 48%;
  --radius: 0.75rem;
  color-scheme: dark;
}

* {
  @apply border-border;
}

body {
  @apply bg-background text-foreground antialiased;
  font-family: 'Inter', system-ui, sans-serif;
}

#root {
  min-height: 100vh;
}
